@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h1>About Us</h1>
    <p>Welcome to our Wedding Management service. We specialize in making your dream wedding a reality by providing comprehensive planning and coordination. Our team is passionate about delivering an unforgettable experience tailored to your vision, ensuring every detail of your special day is flawlessly executed.</p>
    <p>With years of experience in wedding planning, we understand the importance of each moment and work tirelessly to bring your celebration to life, leaving you free to enjoy every second of it. Let us help you create memories that will last a lifetime.</p>
}
